.pic { 
    width: 474px;
    height: auto;
}
.front-pic { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.header {
    text-align: center;
}
.main-list {
text-align: center; 

}
.ingredients {
    font-family: cursive;
    font-size: 20px;
}
.home {
    background-color: rgb(233, 197, 107);
    font-weight: 800px;
}